{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('task_create')}) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success pull-right">Ajouter</button>
        <a href="{{ path('homepage') }}" class="btn btn-primary pull-left">Retour à la gestion des tâches</a>

        {{ form_end(form) }}
    </div>
{% endblock %}
